<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--    1.创建目标类-->
    <bean id="userService_aop" class="com.bilibili.j_spring_aop.service.impl.UserServiceImpl"/>
    <!--    2.创建切面类-->
    <bean id="myAspect_aop" class="com.bilibili.j_spring_aop.MyAspect"/>
    <!--    3.创建代理类,全自动,aop编程-->
    <!--    3.1导入aop命名空间-->
    <!--    3.2使用aop:config进行配置-->
    <!--    proxy-target-class=true使用cglib-->
    <aop:config proxy-target-class="true">
        <aop:pointcut id="myPointcut" expression="execution(* com.bilibili.j_spring_aop.service.impl.UserServiceImpl.*(..))"/>
        <aop:advisor advice-ref="myAspect_aop" pointcut-ref="myPointcut"/>
    </aop:config>
</beans>


