<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    ioc控制反转:由Spring来创建对象,封装在配置文件bean标签内-->
    <bean id="userService_static_factory" class="com.bilibili.c_inject.static_factory.MyBeanFactory" factory-method="createUserService"/>
</beans>