<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="collectionData" class="com.bilibili.f_config_xml.collection.CollectionData">
        <property name="arrayData">
            <array>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </array>
        </property>

        <property name="mapData">
            <map>
                <entry key="id" value="1"/>
            </map>
        </property>

        <property name="propData">
            <props>
                <prop key="键">值</prop>
            </props>
        </property>
    </bean>
</beans>