<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd


                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--    1.datasource-->
    <bean id="dataSource_tx_web" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.1.6:3306/mysql?useSSL=false&amp;characterEncoding=UTF-8"/>
        <property name="username" value="root"/>
        <property name="password" value="By9216446o6"/>
    </bean>
    <!--    2.dao-->
    <bean id="accoutDao_tx_web" class="com.bilibili.p_tx_web.dao.impl.AccountDaoImpl">
        <property name="dataSource" ref="dataSource_tx_web"/>
    </bean>
    <!--    3.service-->
    <bean id="accoutService_tx_web" class="com.bilibili.p_tx_web.service.impl.AccountServiceImpl">
        <property name="accountDao" ref="accoutDao_tx_web"/>
    </bean>
    <!--    4.service代理对象-->
    <!--    org.springframework.transaction.TransactionDefinition-->
    <!--    PROPAGATION_REQUIRED = 0;默认传播行为-->
    <!--    PROPAGATION_SUPPORTS = 1;-->
    <!--    PROPAGATION_MANDATORY = 2;-->
    <!--    PROPAGATION_REQUIRES_NEW = 3;-->
    <!--    PROPAGATION_NOT_SUPPORTED = 4;-->
    <!--    PROPAGATION_NEVER = 5;-->
    <!--    PROPAGATION_NESTED = 6;-->
    <!--    ISOLATION_DEFAULT = -1;默认隔离级别-->
    <!--    ISOLATION_READ_UNCOMMITTED = 1;-->
    <!--    ISOLATION_READ_COMMITTED = 2;-->
    <!--    ISOLATION_REPEATABLE_READ = 4;-->
    <!--    ISOLATION_SERIALIZABLE = 8;-->
    <!--    TIMEOUT_DEFAULT = -1;-->

    <!--    半自动配置-->
    <!--    <bean id="proxyAccoutService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">-->
    <!--        <property name="proxyInterfaces" value="com.bilibili.n_proxy_tx.service.AccountService"/>-->
    <!--        <property name="target" ref="accoutService_proxy"/>-->
    <!--        <property name="transactionManager" ref="txManager_proxy"/>-->
    <!--        <property name="transactionAttributes">-->
    <!--            <props>-->
    <!--                <prop key="transfer">PROPAGATION_REQUIRED,ISOLATION_DEFAULT</prop>-->
    <!--                &lt;!&ndash;                有异常仍提交&ndash;&gt;-->
    <!--                &lt;!&ndash;                <prop key="transfer">PROPAGATION_REQUIRED,ISOLATION_DEFAULT,+java.lang.ArithmeticException</prop>&ndash;&gt;-->
    <!--            </props>-->
    <!--        </property>-->
    <!--    </bean>-->
    <!--    &lt;!&ndash;    5.配置事物管理器,它需要事物,事物从connect获得,connnect从datasource中获得&ndash;&gt;-->
    <!--    <bean id="txManager_proxy" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
    <!--        <property name="dataSource" ref="dataSource_proxy_tx"/>-->
    <!--    </bean>-->

    <!--    aop全自动编程4.事物管理-->
    <!--    4.1事物管理器-->
    <bean id="txManager_web" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource_tx_web"/>
    </bean>
    <!--    4.2将事物交给spring,proxy-target-class="true" 使用cgilib-->
    <tx:annotation-driven transaction-manager="txManager_web" proxy-target-class="true"/>
</beans>


