<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    1.创建自定义实例工厂-->
    <bean id="myBeanFactory_factory" class="com.bilibili.c_inject.factory.MyBeanFactory"/>
<!--    2.获得userService-->
    <bean id="userService_factory" factory-bean="myBeanFactory_factory" factory-method="createUserService"/>
</beans>